// Global CSS Imports
@import '../../sass/base';
@import '../../sass/typography';

.description-container {
    margin: 40px;

    p, ul {
        font-family: 'Montserrat_Light';
        color: #666663;
        font-size: large;
    }

    li {
        list-style: none;
        border-left: 3px solid #dc4f43;
        padding-left: 1em;
        margin: 10px 0px;
    }

    .scalefusion_title {
        text-align: center;
        margin-top: 25px;
        margin-bottom: 0px;
    }
}

.scalefusion_logo {
    max-width: 100%;
    height: auto;
    width: 750px;
    display: block;
    margin: auto;
}

.mb_logo {
    width: 200px;
}